name: Python CI workflow

on: [pull_request, push]

jobs:
  backend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Add the appropriate Tox environments for the satellite here
        toxenv:
            - py310
            - py313
        include:
          # Adjust the Python versions required for the tox environments as
          # needed
          - toxenv: py310
            python-version: '3.10'
          - toxenv: py313
            python-version: '3.13'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run back-end tests
        run: |
          tox
        env:
          TOXENV: ${{ matrix.toxenv }}
